/* body {
  background-image: url(https://d1le9g1q5z956q.cloudfront.net/picture-of-the-day/239/large_Sean-J-Yan-www.onebigphoto.com_-1.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.statistics {
  background-color: white;
  opacity: 0.5;
}

.books {
  background-color: white;
  opacity: 0.5;
} */
